.Father_level_0 {
	position: fixed;
	min-height: 100%;
    max-width: 100%;
	
		-webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    user-select: none; /* Standard syntax */
}

.Father_level_title_LOGO {
	position: absolute;
	top: 10PX;
    left: 1%;
    font-size: 70px;
	width: 1080PX;
}

.Father_level_title_LOGO1 {
	position: absolute;
	top: 120PX;
    left: 35PX;
    font-size: 18px;
	width: 1080PX;
}

.Father_level_title_LOGO2 {
	position: absolute;
	top: 160PX;
    left: 35PX;
    font-size: 18px;
	width: 1080PX;
}

.Father_level_title_LOGO3E {
	position: absolute;
	top: 260PX;
    left: 430PX;
    font-size: 18px;
	width: 1080PX;
}

.Father_level_title_LOGO3Z {
	position: absolute;
	top: 260PX;
    left: 485PX;
    font-size: 18px;
	width: 1080PX;
}

.switch_language {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-align: center;
    min-width: 235px;
	position: absolute;
    top: 400PX;
    left: 35PX;
}

.switch_github {
    background-color: #ffffffc4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-align: center;
    min-width: 305px;
	position: absolute;
    top: 200PX;
    left: 35PX;
}

.switch_HOME {
    background-color: #ffffffc4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-align: center;
    min-width: 305px;
	position: absolute;
    top: 300PX;
    left: 35PX;
}

.switch_language_T {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-align: center;
    min-width: 235px;
	position: absolute;
    top: 400PX;
    left: 35PX;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(31, 93, 209, 0.856);
}

.switch_language_ZH {
    background-color: #3598DB;
    color: white;
    padding: 16px;
    font-size: 13px;
    border: none;
    text-align: center;
    min-width: 100px;
	cursor: pointer;
	position: absolute;
    top: 458PX;
    left: 35PX;
}

.switch_language_ZHHOME {
    background-color: #3598DB;
    color: white;
    padding: 16px;
    font-size: 13px;
    border: none;
    text-align: center;
    min-width: 250px;
	cursor: pointer;
	position: absolute;
    top: 458PX;
    left: 225PX;
}

.switch_language_EN {
    background-color: #3598DB;
    color: white;
    padding: 16px;
    font-size: 13px;
    border: none;
    text-align: center;
    min-width: 100px;
	cursor: pointer;
	position: absolute;
    top: 458PX;
    left: 170PX;
}

.Hover_effect:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(31, 93, 209, 0.856);
}

.Hover_effect_win10:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(31, 93, 209, 0.856);
}

.Hover_effect_Android:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(31, 93, 209, 0.856);
}



.download_win {
    background-color: #3598DB;
    color: white;
    padding: 16px;
    font-size: 13px;
    border: none;
    text-align: center;
    min-width: 150px;
	cursor: pointer;
	position: absolute;
    top: 458PX;
    left: 370PX;
}
.download_Android {
    background-color: #3598DB;
    color: white;
    padding: 16px;
    font-size: 13px;
    border: none;
    text-align: center;
    min-width: 150px;
	cursor: pointer;
	position: absolute;
    top: 458PX;
    left: 570PX;
}

.IAMG_WIN10 {

	width: 150px;
	height: 150px;
	overflow: hidden;
	border: 1px solid cornflowerblue;
	position: absolute;
	top: 300PX;
    left: 385PX;
}

.IAMG_HOME {

	width: 250px;
	height: 250px;
	overflow: hidden;
	border: 1px solid cornflowerblue;
	position: absolute;
	top: 180PX;
    left: 240PX;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(31, 93, 209, 0.856);
}

.IAMG_WIN10_T {
    
	width: 150px;
	height: 150px;
	overflow: hidden;
	border: 1px solid cornflowerblue;
	position: absolute;
	top: 300PX;
    left: 385PX;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(31, 93, 209, 0.856);
}


.IAMG_Android {

	width: 150px;
	height: 150px;
	overflow: hidden;
	border: 1px solid cornflowerblue;
	position: absolute;
	top: 300PX;
    left: 585PX;
}
.IAMG_Android_T {

	width: 150px;
	height: 150px;
	overflow: hidden;
	border: 1px solid cornflowerblue;
	position: absolute;
	top: 300PX;
    left: 585PX;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(31, 93, 209, 0.856);
}

a {font-size:16px} 
a:link {color: rgb(255, 255, 255); text-decoration:none;} //未访问：蓝色、无下划线 
aa:active:{color: rgba(255, 255, 255, 0); } //激活：红色 
a:visited {color:rgb(0, 0, 0);text-decoration:none;} //已访问：紫色、无下划线 


